.cuadrado{
    border: 10px;
    width: 240px;
    height: 240px;
    margin-top: 50px;
}

.gris{
    background-color: darkgray;
}

.verde{
    background-color: green;
}

.rojo{
    background-color: red;
}

.amarillo{
    background-color: yellow;
}

.azul{
    background-color: blue;
}