
<div class="contenedor">
    <form  (submit) = onSubmit()>
        <legend>Datos del formulario</legend>
        <fieldset>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" class="form-control" name="nombre" placeholder="Nombre..." [(ngModel)] = "credenciales.nombre">

            <label for="apellidos">Apellidos</label>
            <input type="text" id="apellidos" class="form-control" name="apellidos" placeholder="Apellidos..." [(ngModel)] = "credenciales.apellidos">


            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" name="email" placeholder="Email..." [(ngModel)] = "credenciales.email">


            <label for="telefono">Télefono</label>
            <input type="tel" id="telefono" class="form-control" name="telefono" placeholder="Teléfono..." [(ngModel)] = "credenciales.telefono">

        </fieldset>

        <button type="submit" class="btn btn-primary">Submit</button>
        
        
    </form>
</div>
