p{
    width: 40rem;
    padding: 2rem;
    margin: 2rem;
}

.fondo-azul{
    background-color: blue;
}

.fondo-verde{
    background-color: green;
}

.fondo-rojo{
    background-color: red;
}

.letra-blanca{
    color: white;
}

.container{
    height: 50rem;
    width: 50rem;
    background-color: gray;
    border-radius: 1rem;
    display: grid;
    justify-content: center;
}